<form [formGroup]="myForm" autocomplete="off">

  <div class="flex justify-center items-center mt-4 p-4">
    <p class="text-xl text-center text-gray-700">
      ¡Vamos, tambien puedes buscar por tu usuario!
    </p>
  </div>
  <div class="flex justify-center">
    <github-code class="w-full md:w-7/12" [url]="url"/>
  </div>
  <div class="flex flex-col md:flex-row md:items-center ">
    <div class="flex justify-center w-full mb-4">
      <div class="flex flex-col md:flex-row w-full md:w-7/12 gap-2 md:gap-0">
        <div class="relative flex-2">
          <input type="text" formControlName="userName" required minlength="3" maxlength="20" placeholder="Buscar usuario"
            class="input-username">
          <i class="fas fa-user icon-input"></i>
        </div>
        <div class="relative flex-1">
          <input type="text" formControlName="repository" minlength="2" maxlength="20" placeholder="Buscar repositorio"
            class="input-repository" />
          <i class="fas fa-search icon-input"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2 lg:flex-row lg:justify-center lg:items-center">
    <div class="flex flex-row justify-center items-center gap-2">
      <button [class.text-blue-400]="getGridView()" (click)="setGridView(true)"
        class="border-2 rounded-md px-3 py-1 bg-gray-50 hover:text-blue-400 w-12">
        <i class="fa-solid fa-grip-vertical"></i>
      </button>
      <button [class.text-blue-400]="!getGridView()" (click)="setGridView(false)"
        class="border-2 rounded-md px-3 py-1 bg-gray-50 hover:text-blue-400 w-12">
        <i class="fa-solid fa-list"></i>
      </button>
    </div>
    <div class="flex flex-row justify-center items-center gap-2">
      <select formControlName="language" class="px-4 py-2 border rounded-lg">
        <option value="">Lenguaje</option>
        @for(language of programmingLanguages | keyvalue; track $index){
        <option [value]="
            language.key">{{language.value}}</option>
        }
      </select>
      <select formControlName="sort" class="px-4 py-2 border rounded-lg">
        <option value="">Ordenar</option>
        @for (sort of sortFilter | keyvalue; track $index) {
        <option [value]="sort.key">{{sort.value}}</option>
        }
      </select>
    </div>
  </div>
  <div class="flex flex-col sm:flex-row  gap-2 justify-center items-center my-3 text-sm text-gray-500">
    @if (searchParams().userName) { <span>Usuario: <b> {{searchParams().userName}}</b></span> }
    @if (searchParams().repository) { <span>Repositorio: <b> {{searchParams().repository}}</b></span>}
    @if (searchParams().language) { <span>escrito en: <b> {{searchParams().language}}</b></span>}
    @if (searchParams().sort) { <span>ordernar por: <b> {{searchParams().sort}}</b></span>}
    @if(hasAtLeastTwoValues()){
    <button (click)="resetForm()" class=" text-black hover:text-cyan-700">
      <i class="fa-solid fa-circle-xmark mr-1"></i> Limpiar filtros
    </button>
    }
  </div>
</form>
