<section class="py-16">
  <div class="container mx-auto px-4 md:px-6 max-w-4xl">
    <div class="flex justify-center my-25">
      <div class="bg-white border border-gray-400 shadow-lg w-96">
        <div class="bg-gray-300 text-gray-800 flex items-center justify-between px-2 py-1 border-b border-gray-400">
          <span class="font-semibold text-sm">contacto.txt</span>
          <div class="flex space-x-1">
            <div class="w-3 h-3 bg-yellow-400 rounded-full"></div>
            <div class="w-3 h-3 bg-green-500 rounded-full"></div>
            <div class="w-3 h-3 bg-red-500 rounded-full"></div>
          </div>
        </div>
        <div class="p-4 text-gray-800 font-mono text-sm">
          <div class="mb-6">
            <label class="block text-gray-700 font-medium mb-2">
              E-mail de contacto:
            </label>
            <div class="flex flex-col gap-3 ms-3">
              <a href="mailto:juanda.yaracifuentes@gmail.com" class="font-bold">juanda.yaracifuentes&#64;gmail.com</a>

              <a href="mailto:juan.yara@cun.edu.co" class="font-bold">juan.yara&#64;cun.edu.co</a>
            </div>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-medium mb-2">
              WhatsApp:
            </label>
           <div class="ms-3">
              <a href="https://wa.me/573222205301" class="font-bold">322 220 5301</a>
           </div>
          </div>
          <div class="mb-6">
            <label  class="block text-gray-700 font-medium mb-2">
              Bogotá, Distrito Capital
            </label>
          </div>
          <p class="text-center">
            Si necesitas algo ahora mismo, no dudes en escribirme.
            <br><br>
           <b> ¡Estoy a solo un mensaje de distancia! </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
