<section class="py-10 md:py-16 mb-20 bg-gray-50">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center p-8 md:p-12 ">
      <h3 class="font-semibold text-gray-600 text-2xl md:text-4xl leading-snug mb-6">
        El talento sin disciplina es como un motor potente, pero sin control
      </h3>
      <p class="text-sm text-gray-500">
        Grabé en la penca de un maguey tu nombre <br>
        Unido al mío <br>
        Entrelazadosss
      </p>
    </div>
  </div>
</section>
