<section class="py-5 md:py-5">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="blur-sm">NOT A FRIENDLY URL</div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-0 md:gap-4">
      <div class="col-span-3">
        <filters />
      </div>
      <div class="col-span-full md:col-span-1 order-2 md:order-1">
        <profile />
      </div>
      <div class="col-span-full md:col-span-2 order-1 md:order-2">
        <repositories />
      </div>
    </div>
  </div>
</section>
