<form [formGroup]="myForm" autocomplete="off">
  <div class="">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 my-3">
      <div class="col-span-1">
        <div class="bg-gray-50 border rounded shadow-sm mb-3 px-4 pt-2 pb-5">
          <div class="flex flex-col gap-2">
            <label for="user" class="text-sm font-bold text-gray-600">Repositorios de:</label>
            <input
              id="user"
              type="text"
              formControlName="userName"

              placeholder="Repositorio de"
              required
              minlength="3"
              maxlength="20"
              autocomplete="off"
              class="w-full p-2 py-1 leading-5 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-600" />
          </div>
        </div>
      </div>
      <div class="col-span-2">
        <div class="bg-gray-50 border rounded shadow-sm mb-3 px-4 pt-2 pb-5">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
            <div class="col-span-2">
              <label for="repository" class="block mb-2 text-sm font-bold text-gray-600">ej: php-crud...</label>
              <input
                id="repository"
                formControlName="repository"

                minlength="2"
                maxlength="20"
                type="text"
                placeholder="Buscar un repositorio"
                class="w-full p-2 py-1 leading-5 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-600" />
            </div>
            <div class="col-span-2">
              <label for="repository" class="block mb-2 text-sm font-bold text-gray-600">Filtrar por</label>
              <div class="grid grid-cols-2 gap-2">
                <div class="flex flex-col">
                  <select
                    formControlName="language"
                    class="p-2 py-1 leading-5 rounded shadow-sm focus:outline-none bg-gray-200 border focus:ring-2 focus:ring-cyan-600">
                    <option value="">Lenguaje</option>
                    @for(language of programmingLanguages | keyvalue; track $index){
                      <option [value]="language.key">{{language.value}}</option>
                    }
                  </select>
                  <span class="text-sm italic text-gray-500 ml-1"></span>
                </div>
                <div class="flex flex-col">
                  <select
                    formControlName="sort"
                    class="p-2 py-1 leading-5 rounded shadow-sm focus:outline-none bg-gray-200 border focus:ring-2 focus:ring-cyan-600">
                    <option value="">Ordenar</option>
                    @for (sort of sortFilter | keyvalue; track $index) {
                      <option [value]="sort.key">{{sort.value}}</option>
                    }
                  </select>
                  <span class="text-sm italic text-gray-500 ml-1"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-full">
        <div class="flex justify-center items-center">
          <p class="text-center text-sm"> make url: </p>
          <button (click)="resetForm()" class="hover:text-cyan-700">
            <i class="fa-solid fa-circle-xmark"></i> Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
