<nav class="fixed top-0 left-0 w-full bg-gray-200/40 backdrop-blur p-2 z-30 shadow-sm ">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div class="flex-shrink-0">
        <div class="relative w-fit mx-auto h-10">
          <a [routerLink]="['/home']">
            <h1 class="text-xl font-bold">juandavyc</h1>
            <span class="absolute bottom-0 right-0 text-sm text-gray-500">
              [dev]
            </span>
          </a>
        </div>
      </div>
      <ul class="hidden sm:flex sm:ml-6 flex-wrap items-center mt-3 text-sm font-bold sm:mt-0">
        @for (item of menuItems; track $index) {
          <li>
            <a
              [routerLink]="[item.route]"
              routerLinkActive="active"
              class="hover:underline me-4 md:me-6" >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
      <div class="-mr-2 sm:hidden">
        <button
          (click)="toggleMenu()"
          class="inline-flex items-center justify-center p-2 text-xl rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none">
          @if(isMenuOpen()){
            <i class="fa-solid fa-xmark"></i>
          }
          @else{
            <i class="fa-solid fa-bars"></i>
          }
        </button>
      </div>
    </div>
  </div>
  <div class="fixed -bottom-[60px] right-0 z-40">
    <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <polygon points="24,0 24,24 0,0" fill="#10B981"/>
    </svg>
    <a [href]="url"
      target="_blank"
      class="absolute top-0 right-0 p-2 text-white"
      title="Repositorio de mi web">
      <i class="fa-brands fa-github fa-rotate-by fa-xl fa-rotate-45" style="--fa-rotate-angle: 45deg;"></i>
    </a>
  </div>
</nav>

@if(isMenuOpen()){
  <div class="fixed inset-0 bg-black bg-opacity-50 z-40 sm:hidden backdrop-blur-sm" (click)="toggleMenu()"></div>
  <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-md bg-gray-800 rounded-lg z-50 p-6">
    <div class="flex flex-col justify-center items-center space-y-4">
      @for (item of menuItems; track $index) {
        <a [routerLink]="[item.route]"
           routerLinkActive="active"
           class="block text-white hover:text-gray-300 font-medium text-xl p-3 transition duration-200 ease-in-out"
           (click)="toggleMenu()">
          {{ item.label }}
        </a>
      }
    </div>
  </div>
}
