@let userData = user();
@if(userData !== null){
<div class="grid grid-cols-2 gap-1">
  <div class="col-span-2">
    <div class="bg-gray-50 text-gray-600 p-3 border rounded-md shadow-md hover:bg-slate-100">
      <div class="flex justify-center m-3">
        <img [src]="userData.avatar_url" class="rounded-full w-28 h-28" width="112px" height="112px" alt="Image">
      </div>
      <div class="flex flex-col items-center">
        <h4 class="font-medium  text-lg md:text-2xl ">
          {{ userData.name | uppercase }}
        </h4>
        <h6 class="font-light  md:text-xl ">
          {{ userData.login| lowercase }}
        </h6>
        <p class=" text-wrap ">
          {{ userData.bio }}
        </p>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 p-3 rounded-md shadow-md hover:bg-slate-100">
    <div class="text-center text-gray-600">
      <h5 class="font-bold text-xl text-green-700 opacity-60">
        {{ userData.public_repos | number}}
      </h5>
      <p class="text-sm">repositorios</p>
    </div>
  </div>
  <div class="bg-gray-50 p-3 rounded-md shadow-md hover:bg-slate-100">
    <div class="text-center">
      <h5 class="font-bold text-xl text-green-700 opacity-60">
        {{ userData.id | number}}
      </h5>
      <p class="text-sm">number</p>
    </div>
  </div>
  <div class="col-span-2">
    <div class="bg-gray-50 text-gray-600 p-3 shadow-md rounded-md hover:bg-slate-100">
      <div class="flex flex-col items-start">
        <div class="flex items-center">
          <i class="fas fa-briefcase w-8"></i>
          <span class="text-lg">
            {{ userData.company }}
          </span>
        </div>
        <div class="flex items-center">
          <i class="fas fa-map-marker-alt w-8"></i>
          <span class="text-lg">
            {{ userData.location }}
          </span>
        </div>
        <div class="flex items-center">
          <i class="fas fa-link w-8"></i>
          <a [href]="userData.blog" class="text-lg hover:underline">
            {{userData.blog}}
          </a>
        </div>
        <div class="flex items-center">
          <i class="fa-brands fa-github w-8"></i>
          <a [href]="userData.html_url" class="text-lg hover:underline">
            {{userData.login}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
}
