<footer class="py-10 md:py-16 bg-slate-800">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center">
      <div class="flex items-center justify-center">
        @for (footer of fakeResponse; track footer.id) {
          <a [href]="footer.url" class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-slate-500  transition ease-in-out duration-500">
            <i [class]="footer.icon" class="fa-2x text-gray-50" ></i>
         </a>
        }
      </div>
    </div>
  </div>
</footer>
