<div class="grid gap-4" [class.grid-cols-1]="toggleLayout()"  [class.grid-cols-2]="!toggleLayout()">
  @for (item of ('1,2,3,4,5,6,7,8').split(','); track $index) {
    <div class="p-3 border rounded-md bg-gray-50 shadow-sm text-gray-600 space-y-2">
      <div class="flex flex-col">
        <h3 class="text-xs leading-6 bg-gray-100 animate-pulse w-20 h-6 rounded-md"></h3>
        <a class="text-base font-bold hover:underline bg-gray-200 animate-pulse w-2/4 h-6 mt-1 rounded-md"></a>
        <p class="text-xs bg-gray-300 mb-2 animate-pulse w-full h-6 mt-1 rounded-md"></p>
        <div class="flex">
          <span class="ml-auto bg-gray-100 animate-pulse w-20 h-6 rounded-md"></span>
        </div>
      </div>
    </div>
  }
</div>
